# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/
dist-ssr/
.vinxi
.output
.vercel
.netlify
.wrangler
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea

# Environment variables
.env
